.category-list {
    list-style: none;
    display: flex;
}
.category-icon {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.categories-parent {
    overflow: hidden;
}
.category {
    width: 12%;
    text-align: center;
}
.category-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    font-size: 17px;
}
.category-div {
    width: 170px;
}