.fa-search, .fa-ellipsis-v {
    font-size: 25px;
    color: darkgray;
}
.fa-times-circle {
    visibility: hidden;
    color: black;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background-color: darkgray;
    border-radius: 25px;
}
.logo, .search-login {
    display: flex;
    align-items: center;
}
.header-container {
    height: auto;
    justify-content: space-between;
    display: flex;
    margin: 0 4.5%;
    align-items: center;
}
.name-container, .search-container {
    padding: 0 25px;
}
.name {
    font-size: 45px;
    padding-right: 0;
}
.sub-name {
    font-size: 15px;
}
.search-filter, .profile-div {
    display: none;
}
.search-wrapper {
    visibility: hidden;
}
.search-result {
    width: 280px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    background-color: darkgray;
    padding: 0;
    height: 0;
    overflow: overlay;
    transition: height 0.5s ease-in-out;
    scroll-behavior: smooth;
    border-radius: 15px;
}
.search-box {
    width: 100vw;
    position: absolute;
    padding: 0 25px;
    left: 0;
    top: 0;
    font-size: 17px;
    height: 50px;
    border-radius: 25px;
    text-transform: capitalize;
    outline: none;
    background-color: darkgray;
    color: black;
    border: none;
    
}
.search-box:focus {
    outline: none;
}
.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.result-parent {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    transition: height 1s ease-in-out;
    height: 80px;
}
.type-parent {
    text-decoration: underline;
    text-transform: capitalize;
    color: black;
    font-size: 17px;
}
.show-btn {
    background-color: black;
    color: darkgray;
    border: none;
    outline: none;
    font-size: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}
.result-child {
    padding: 5px;
    width: 17%;
}
.result-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.result-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    text-align: center;
    color: black;
    font-size: 12px;
}
.type-container {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

@media (min-width: 426px) {
    .fa-search, .fa-times-circle {
        display: none;
    }
    .search-box {
        visibility: visible;
        width: 400px;
        left: 250px;
        top: 12px;
    }
    .search-result {
        left: 450px;
        top: 45px;
        width: 350px;
    }
}
@media (min-width:  1024px) {
    .name-container {
        padding: 0;
    }
    .fa-search, .fa-ellipsis-v {
        display: none;
    }
    .name-parent {
        text-align: center;
    }
    .name {
        font-size: 4vw;
        padding-right: 2vw;
    }
    .sub-name {
        font-size: 1.2vw;
    }
    .login-container {
        display: flex;
        justify-content: flex-end;
    }.logged-in {
        display: flex;
    }
    .profile-div {
        display: none;
        align-self: center;
        color: darkgray;
        padding: 5px 11px;
        text-align: center;
    }
    .login {
        color: darkgray;
        font-size: 1.5vw;
        text-transform: capitalize;
    }
    .header-container {
        height: 8vw;
        position: sticky;
        top: 0;
        z-index: 5;
        background-color: black;
    }
    .search-box {
        display: block;
        left: -60vw;
        width: 46vw;
        top: -1.5vw;
        font-size: 1.5vw;
        padding: 0 1vw;
        box-shadow: 0 0 2vw darkgrey;
        height: 3vw;
        border-radius: 2vw;
        padding-left: 11vw;
    }
    .search-filter {
        display: block;
        position: absolute;
        top: -1.5vw;
        left: -59vw;
        visibility: visible;
    }
    #search-select {
        font-size: 1vw;
        padding: 0.9vw 0;
        border-radius: 2vw;
        color: black;
        background-color: darkgray;
        border: none;
        outline: none;
        z-index: 3;
    }
    option {
        border-radius: 15px;
    }
    .search-result {
        width: 550px;
        border-radius: 22px;
        left: 603px;
        top: 90px;
    }
    .result-container {
        margin: 0 19px;
    }
    .result-parent {
        height: 150px;
    }
    .type-container > h2 {
        font-size: 20px;
    }
    .result-img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }
    .result-name {
        font-size: 15px;
    }
    .result-child {
        padding: 13px 8px;
        width: 12.4%;
    }
    .type-container {
        padding: 0 30px;
        margin: 30px 0;
    }
    .show-btn {
        font-size: 13px;
        padding: 0 10px;
        box-shadow: 2px 2px 15px black;
        border-radius: 13px;
        
    }
    .search-wrapper {
        position: relative;
    }
    .profile-image {
        width: 5vw;
        height: 5vw;
        border-radius: 5vw;
    }
}