.fa-search, .fa-ellipsis-v {
    font-size: 25px;
    color: darkgray;
    visibility: visible;
}
.header-container {
    height: auto;
    justify-content: space-between;
    display: flex;
    justify-content: space-evenly;
    margin: 0 4.5%;
    align-items: center;
}
.name-container {
    padding-right: 41%;
}
.name {
    font-size: 45px;
    padding-right: 0;
}
.sub-name {
    font-size: 15px;
}
.search-box, .search-filter, .profile-div {
    display: none;
}
.search-result {
    width: 280px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    background-color: darkgray;
    padding: 0;
    height: 0;
    overflow: overlay;
    transition: height 0.5s ease-in-out;
    scroll-behavior: smooth;
    border-radius: 15px;
}
.search-box {
    width: 320px;
    position: absolute;
    padding: 0 25px;
    left: 0;
    z-index: 2;
    top: 0;
    font-size: 17px;
    height: 50px;
    border-radius: 25px;
    text-transform: capitalize;
    outline: none;
    background-color: darkgray;
    color: black;
    border: none;
}
.search-box:focus {
    outline: none;
}
.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.result-parent {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    transition: height 1s ease-in-out;
    height: 80px;
}
.type-parent {
    text-decoration: underline;
    text-transform: capitalize;
    color: black;
    font-size: 17px;
}
.show-btn {
    background-color: black;
    color: darkgray;
    border: none;
    outline: none;
    font-size: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}
.result-child {
    padding: 5px;
    width: 17%;
}
.result-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.result-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    text-align: center;
    color: black;
    font-size: 12px;
}
.type-container {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}


@media (min-width:  426px) {
    .name-container {

        padding: 0;
    }
    .fa-search, .fa-ellipsis-v {
        display: none;
    }
    .name-parent {
        text-align: center;
    }
    .name {
        font-size: 70px;
        padding-right: 40px;
    }
    .login-container {
        display: flex;
        justify-content: flex-end;
    }.logged-in {
        display: flex;
    }
    .profile-div {
        display: block;
        align-self: center;
        color: darkgray;
        padding: 5px 11px;
        text-align: center;
    }
    .login {
        color: darkgray;
    }
    .header-container {
        height: 150px;
        
    }
    .search-box {
        display: block;
        width: 900px;
        padding-left: 193px;
        font-size: 23px;
        padding: 0 28px;
        box-shadow: 0 0 40px darkgray;
        z-index: 0;
    }    
    .search-filter {
        display: block;
        position: absolute;
        top: 3px;
        left: 20px;
        transform: translate(-10px);
    }
    #search-select {
        font-size: 18px;
        padding: 12px 0;
        border-radius: 24px;
        color: black;
        background-color: darkgray;
        box-shadow: 0px 0px 6px darkgray;
        border: none;
        outline: none;
        z-index: 3;
    }
    option {
        border-radius: 15px;
    }
    .search-result {
        width: 850px;
        border-radius: 22px;
    }

    .result-container {
        margin: 0 19px;
    }
    .result-parent {
        height: 150px;
    }
    .type-container > h2 {
        font-size: 20px;
    }
    .result-img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }
    .result-name {
        font-size: 15px;
    }
    .result-child {
        padding: 13px 8px;
        width: 12.4%;
    }
    .type-container {
        padding: 0 30px;
        margin: 30px 0;
    }
    .show-btn {
        font-size: 13px;
        padding: 0 10px;
        box-shadow: 2px 2px 15px black;
        border-radius: 13px;
        
    }
    .search-wrapper {
        position: relative;
    }
}