/* general CSS */

a {
    text-decoration: none;
    color: darkgray;
}
p {
    margin: 0;
}
h1, h2, h3, h4 {
    margin: 0;
    color: darkgray;
}


/* CSS for content */
.new-releases, .categories, .playlists {
    position: relative;
    display: flex;
}
.release-wrapper, .category-wrapper, .playlist-wrapper {
    display: flex;
    transition: transform 0.5s linear;
    flex-wrap: nowrap;
}
.album-cover, .category-icon, .playlist-icon {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.new-releases-parent, .categories-parent, .playlist-parent {
    overflow: hidden;
    margin: 4.5%;
}
.release, .category, .playlist {
    padding: 11px;
    text-align: center;
}
.album-name, .artist, .category-name, .playlist-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    text-decoration: none;
    color: darkgray;
}
.artist {
    font-size: 14px;
}
.album-name, .category-name, .playlist-name {
    font-size: 17px;
}
.album-div, .category-div, .playlist-div {
    width: 150px;
}
.scroll-previous, .scroll-next {
    position: absolute;
    top: 29%;
    z-index: 999;
}
.scroll-next {
    right: 0;
}
.scroll-previous {
    left: 0;
}
.scroll-back {
    display: none;
}
.fas {
    visibility: hidden;
}
.scroll-parent:hover .fas {
    font-size: 49px;
    color: darkgray;
    opacity: 0.8;
    visibility: visible;
}
.tag-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.show-button {
    background-color: darkgray;
    color: black;
    font-size: 15px;
    border-radius: 18px;
    box-shadow: 0 0 15px darkgrey;
    padding: 0 10px;
    border: none;
    outline: none;
}

@media (min-width: 1920px) {
    .release, .category, .playlist {
        padding: 20px;
    }
    .album-cover, .category-icon, .playlist-icon {
        width: 250px;
        height: 250px;
    }
    .categories-parent, .new-releases-parent, .playlist-parent {
        margin: 3%;
    }
    .album-div, .category-div, .playlist-div {
        width: 250px;
    }
    .album-name, .category-name, .playlist-name {
        font-size: 22px;
    }
    .artist {
        font-size: 19px;
    }
    .scroll-previous, .scroll-next {
        top: 38%;
    }
}