.player-parent {
    display: flex;
    margin: 0 15%;
    position: sticky;
    bottom: 0;
    background-color: black;
    box-shadow: 0 0 7px darkgrey;
    border-radius: 5px;
    align-items: center;
}
.player-track-div {
    flex-basis: 40%;
    font-size: 18px;
}
p.player-track-name {
    padding-bottom: 5px;
}
p.player-artist-name {
    font-weight: 300;
}
.player-div {
    flex-basis: 60%;
    padding-left: 50px;
    display: flex;
}
.play-pause-div{
    align-self: center;
    display: flex;
}
i.fas.fa-list, i.fas.fa-volume-up, i.fas.fa-random, i.fas.fa-external-link-alt {
    color: darkgray;
    font-size: 13px;
    padding: 7px;
    border-radius: 15px;
}
i.fas.fa-play-circle {
    display: none;
}
i.fas.fa-play-circle, i.fas.fa-pause-circle, i.fas.fa-forward, i.fas.fa-backward {
    padding: 0 20px;
    color: darkgray;
    font-size: 20px;
}
i.fas.fa-play-circle:hover, i.fas.fa-pause-circle:hover, i.fas.fa-forward:hover, i.fas.fa-backward:hover, i.fas.fa-list:hover, i.fas.fa-volume-u:hover, i.fas.fa-random:hover, i.fas.fa-external-link-alt:hover {
color: #9fa19f;
}
.i.fas.fa-list {
    position: relative;
}
.volume-div {
    padding-left: 20px;
}

.player-cntrl-div {
    display: flex;
    justify-content: space-around;
}
.cntrl-div {
    text-align: center;
    padding: 4px;
    position: relative;
}
.cntrl-bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
}
.cntrl-parent-div {
    position: relative;
    flex-basis: 25%;
    box-shadow: 3px 0px 3px darkgrey;
    border-radius: 3px;
    overflow: hidden;
    box-sizing: border-box;
}
.curr-track-name {
    font-size: 15px;
}
.curr-artist-name {
    font-size: 13px;
}
.player-playlist-div {
    position: absolute;
    height: 300px;
    top: -300px;
    overflow: overlay;
    width: 300px;
    background-color: black;
    box-shadow: 0 0 10px darkgrey;
    border-radius: 10px;
    display: none;
}
.player-track-div {
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 0 0px 2px darkgrey;
    cursor: pointer;
}
.player-track-div:hover {
    background-color: #242320;
    transition: 0.2s ease-in-out;
}
.player-track-div.current-player:hover {
    background-color: darkgray;
}
.functionality-div {
    flex-basis: 75%;
}
.function-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}
input.vol-cntrl {
    position: absolute;
    top: -90px;
    left: -50px;
    height: 4px;
    outline: none;
    border: none;
}
.vol-div {
    display: none;
}
i.fas.fa-volume-up {
    position: relative;
}
i.fas.fa-long-arrow-alt-right, i.fas.fa-history, i.fas.fa-redo-alt {
    background-color: darkgray;
    color: black;
    font-size: 13px;
    padding: 7px;
    border-radius: 15px;
}
i.fas.fa-long-arrow-alt-right, i.fas.fa-history {
    display: none;
}
.seek-div {
    display: flex;
    color: darkgray;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}
.seeker {
    width: 100%;
    height: 2px;
}
.track-artist-div {
    padding-bottom: 7px;
}
.curr-duration, .total-duration {
    font-size: 15px;
}